h1{
    background-color: gray;
    color: yellow ;
    text-align: center;
    font-family: "Lobster";
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    padding: 10px;
}
body{
    background: url('pink.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% ;
    background-position: center;
    margin: 1.5rem;
}
a{
    font-size : 28px;
    color: cyan;
    font-family: "Lobster";
}
a:hover{
    color: yellow;
}
.vid{
    border: 10px solid red;
}
#bait{
    font-size: 100px;
}